*{
    font-family: "Lato", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 16px;
    user-select: none;
}

.main{
    display: flex;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    overflow: hidden;
}

.sidebar {
    background-color: #000;
    height: 100vh;
    width: 340px;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.home {
    display: flex;
    flex-direction: column;
    background-color: #121212;
    border-radius: 0.7rem;
    justify-content: space-around;
    height: 140px;
    padding: 0.5rem 0.75rem;    
}

.home-option {
    font-size: 1.7rem;
    font-weight: 550;
    padding: 0.5rem 0.75rem;
    opacity: 0.7;
}

.home-option:hover {
    opacity: 1;
}

.home a {
    line-height: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

.home i {
    font-size: 1.25rem;
}

.library{
    display: flex;
    flex-direction: column;
    background-color: #121212;
    border-radius: 0.7rem;
    height: 27rem;
    padding: 0.5rem 0.75rem;
    margin-top: 1rem;
}

.option {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7rem;
}

.lib-option {
    padding: 0.5rem 0.75rem;
    opacity: 0.7;
    font-weight: 600;
}

.lib-option:hover {
    opacity: 1;
}

.option img {
    height: 1.25rem;
    width: 1.25rem;
}

.option a {
    margin-left: 1rem;
}

.lib-icons {
    display: flex;
    font-size: 1.25rem;
    margin: auto 0px;
    cursor: pointer;
}

.lib-icons i {
    opacity: 0.7;
    padding-right: 0.75rem;
}

.lib-icons i:hover {
    opacity: 1;
}

.lib-box{
    background-color: #232323;
    margin: 0.5rem 0 1rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.p1 {
    font-size: 1rem;
    font-weight: 600;
}

.p2 {
    font-weight: 550;
    font-size: 0.8rem;
}

.lib-btn {
    border-radius: 100px;
    color: black;
    font-size: 14px;
    font-weight: 700;
    padding: 0.25rem 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: max-content;
    border: none;
    height: 2rem;
    cursor: pointer;
}

.lib-btn:hover {
    transform: scale(1.03);
}

.contents {
    background-color: #121212;
    border-radius: 1rem;
    height: 100vh;
    flex:1;
    overflow: auto;
    padding: 0 1.5rem;
}

.nav {
    background-color: #121212;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 23px;
    margin-bottom: 40px;
    width: 104%;
    margin-left: -24px;
}

.nav-1 {
    display: flex;
    justify-content: space-between;
    margin-top: -0.3rem;
}

.arrow-btn{
    border-radius: 50%;
    background-color: black;
    border: none;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.nav-options {
    display: flex;
    align-items: center;
    margin-right: 1.7rem;
}

.light-btn, .dark-btn, .all-btn, .next-btn{
    background-color: white;
    color: black;
    border-radius: 100px;
    font-weight: 700;
    font-size: 0.85rem;
    width: max-content;
    height: 2rem;
    border: none;   
    margin: 0 0.7rem 0 0;
    cursor: pointer;
}

.dark-btn, .next-btn{
    background-color: rgb(46, 46, 46);
    color: white;
}

.dark-btn-two{
    border-radius: 50%;
    border: none;
    height: 2rem;
    width: 2rem;
    background-color: rgb(46, 46, 46);
    gap: 5px;
    margin-right: 8px;
    cursor: pointer;
}

.light-btn:hover , .dark-btn:hover , .dark-btn-two:hover{
    transform: scale(1.03);
}

.nav-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.next-btn:hover{
    background-color: rgb(53, 53, 53);
}

h1 {
    font-size: x-large;
    cursor: text;
}

h1:hover{
    text-decoration: underline;
}

.cards{
    display: flex;
    margin-bottom: 40px;
}

.card, .artist-card{
    width: 7.8rem;
    height: 12rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    position: relative;
}

.card img, .artist-card img{
    border-radius: 7px;
    width: 100%;
    height: 130px;
}

.artist-card img{
    border-radius: 50%;
}

.card-title {
    font-weight: 600;
    font-size: 14px;
    margin-top: 0.7rem;
    margin-left: 0.3rem;
}

.card-info {
    font-size: small;
    opacity: 0.7;
    font-size: 14px;
    margin-top: -0.5rem;
    margin-left: 0.3rem;
    margin-right: -0.7rem;
}

.card:hover , .artist-card:hover{
    background-color: rgba(245, 245, 245, 0.035);
    cursor: pointer;
}

.card:active{
    background-color: black;
    }

.play-button {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 40%;
    left: 58%;
    display: none;
    background-color: rgb(30, 215, 96);
    padding-bottom: 10px;
    padding-left: 5px;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.play-button:hover{
    width: 46px;
    height: 46px;
    background-color: rgb(79, 214, 126);
}

.play-button.playing i::before {
    content: "\f04c"; 
    color: black;
}
.play-button.paused i::before {
    content: "\f04b"; 
    color: black;
}

.card:hover .play-button, .artist-card:hover .play-button {
    display: block;
}

.play-button:active{
    display: block;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .footer p{
    opacity: 0.6;
    cursor: pointer;
  }

  .footer p:hover, .song-title h2:hover, .song-title p:hover{
    text-decoration: underline;
    opacity: 1;
  }

  .footer button{
    width: 40px;
    height: 40px;
    background-color: rgb(43, 43, 43);
    border: none;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
  }

  .footer button:hover{
    background-color: rgb(103, 103, 103);
  }

  .footer-two{
    margin-bottom: 130px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .last{
    display: flex;
    flex-direction: row;
    gap: 17px;
  }

  .last p{
    opacity: 0.6;
    cursor: pointer;
  }

  .last p:hover{
    opacity: 1;
  }

  .controls {
    background-color: black;
    height: 5rem;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    display: flex;
}

.song {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: center;
}

.song-img {
    height: 3.9rem;
    border-radius: 0.3rem; 
}

.song-title{
    margin-right: 2rem;
}

.song-title h2{
    font-size: 14px;
    padding-left: 0.8rem;
    letter-spacing: 0.3px;
    cursor: pointer;
}

.song-title p{
    color: white;
    font-size: 12px;
    padding-left: 0.8rem;
    margin-top: -0.5rem;
    opacity: 0.7;
    cursor: pointer;
}

.song i{
    cursor: pointer;
}

.player {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 9rem;
}

.player-icons {
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    cursor: pointer;
}

.player-icons i{
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.playback-bar {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    opacity: 0.9;
}

.time{
    font-size: 13px;
}

.progress-bar {
    width: 70%;
    height: 5px;
    border-radius: 100px;
    accent-color: white;
    cursor: pointer;
}

.progress-bar:hover, .mini-progress-bar:hover{
    accent-color: #1db954;
}

.mini-controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 12.5rem;
    cursor: pointer;
}

.mini-controls i {
    font-size: 0.8rem;
} 

.mini-progress-bar{
    height: 3px;
    border-radius: 100px;
    accent-color: white;
    cursor: pointer;
    width: 50%;
}